<div class="row" style="padding-top:10%;">
    <div class="col"></div>
        <div class="col-md-7">
            <div class="jumbotron">
                <h1 class="text-center">Welcome to ReviewIt!</h1>
                <% if !logged_in? %>
                  <p class="text-center"><%= link_to 'Login', login_path %> or <%= link_to 'Sign Up', signup_path %></p>
                <% end %>
            </div><!-- jumbotron -->
        </div><!-- col-md-7 text-center -->
    <div class="col"></div>
</div><!-- .row -->