<!-- Footer -->
<footer class="footer page-footer font-small">

  <!-- Copyright -->
  <div class="footer footer-copyright text-center">
    &copy; ReviewIt 2020
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->