/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "navigation";
@import "footer";

body {
  min-height: 50em;
  padding-top: 4.5rem;
  background-color: #b8e0ff;
  overflow-x: hidden;
}

.container {
  padding-top: 15px;
}

.form-control {
  background-color: #efeeef;
  border: 1px solid #3e53a3;
}

thead {
  background-color: #618ab0;
  color: #ffffff;
}

.jumbotron {
  border-radius: 10px;
  background-color: #7cb2e4;
}
