.navbar {
  background-color: #323c63 !important;
}

.navbar-brand {
  font-weight: bold;
  font-style: oblique;
}

.nav-link {
  font-weight: bold;
}

.nav-link:hover {
  font-style: italic;
  background-color: #4a5991 !important;
  border-radius: 15px;
}
