<div class="row">
    <div class="col"></div>
        <div class="col-md-6">

            <h1 class="text-center">All Categories</h1>

            <div>
                <table class="table table-hover table-bordered table-striped table-responsive-xs">
                    <thead>
                        <tr>
                            <th>Categories</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% @categories.each do |category| %>
                            <tr>
                                <td><%= category.name %></td>
                            </tr>
                        <% end %>
                    </tbody>
            </table>
            </div>

        </div><!-- col-md-6 -->
    <div class="col"></div>
</div><!-- .row -->