<h1>All Products</h1>

<div>
    <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Brand</th>
            <th>Category</th>
            <th colspan="1"></th>
        </tr>
    </thead>

    <tbody>
        <% @products.each do |product| %>
            <tr>
                <td><%= link_to product.name, product_path(product) %></td>
                <td><%= product.brand %></td>
                <td><%= product.category.name %></td>
                <td><%= link_to "Write a Review", new_product_review_path(product.id) %></td>
            </tr>
        <% end %>
    </tbody>
</table>
</div>