<h1 class="text-center">Most Reviewed Product</h1>

<div>
    <h3 class="text-center"><%= link_to @product.name, product_path(@product) %></h3>
    <em><h5 class="text-center"><%= @product.reviews.count %> Reviews</h5></em>
</div>