<div class="row">
    <div class="col"></div>
        <div class="col-md-6">

            <h1><%= @product.name %></h1>

            <div>
                <h3>Category: <%= @product.category.name %></h3>
                <h4>Description:</h4>
                <p><%= @product.description %></p>
            </div>
            
        </div><!-- col-md-6 -->
    <div class="col"></div>
</div><!-- .row -->